body {
    background-color: #09090a;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    -webkit-user-select: none;  /* Для Safari, Chrome */
    -moz-user-select: none;     /* Для Firefox */
    -ms-user-select: none;      /* Для IE и Edge */
    user-select: none;          /* Современные браузеры */
}
.serverList{
    border: 000;
    background-color: #09090a;
    width:200px;
    position: relative;
    z-index: 2;
    
}
.DirectChatMesseg{
    top: 20px;
    height: 50px;
    left: 5px;
    width: 50px;
    position: relative; 
    border-radius: 10px;
}

.DiscoverButton{
    height: 50px;
    width: 50px;
    left: 5px;
    position: relative;
    top: 590px;
    border-radius: 10px;
}
.ButtonMenuList{
    width: 250px;
    background-color: #18191c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.grid-item {
    display: inline-block;          
    padding: 1px 95px;            
    color: white;                          
    border-radius: 5px;           
    border: none;                   
    cursor: pointer;                
    margin: 5px;                    
      
}

.grid-item:hover {
    background-color: #282a30;
   
}

.grid-item:active {
    background-color: #282a30;   
    transform: scale(0.98);         
}
.controlPanel{
    height: 65px;
    background-color: #09090a;
    width:280px;
    position: relative;
    left: -15px;
    top: 14px;
    z-index: 1;

}

.chatContainer {
    height: 400px;           
    overflow-y: scroll;     
    padding: 10px;          
    scrollbar-width: thin; 
    scrollbar-color: #444 #282a30; 
    z-index: 2;
}

.chatItem {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #282a30;   

    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.chatItem:hover {
    background-color: #3b3f45;
}
.chatItem:active {
    background-color: #282a30;
    transform: scale(0.98);
}
.directMessages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #282a30;
}

.directMessageText {
    font-size: 14px;
    color: white;
}

.addButton {
    background-color: #282a30;
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.addButton:hover {
    background-color: #3a3b3d;
}
.chatContainer::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 10px; 
}
.frindLisNav{ 
    background-color: #3a3b3d;
    height:auto;

    width: 1960px;
    
}
.friendHeder {
    width: 100%;
    background-color: #18191c;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Выравнивание элементов в начале */
    align-items: center;
    padding: 15px;
    position: relative;
}

.friendHedertext {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-weight: normal;
    margin-right: 10px; /* Отступ между заголовком и кнопками */
}

.friendHederbutton,
.friendHederbuttonadd {
    padding: 10px 20px;
    background-color: #282a30;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    transition: background-color 0.3s;
    margin-right: 10px; /* Отступ справа между кнопками */
}

.friendHederbuttonadd {
    background-color: #FF9800; /* Цвет кнопки добавления друзей */
}

.friendHederbutton:hover,
.friendHederbuttonadd:hover {
    background-color: #4a4b4d; /* Цвет кнопки при наведении */
}
.friendHedertext{
    padding: 10px 20px;

    color: white;
    border-radius: 5px;
    font-weight: normal;
    transition: background-color 0.3s, font-weight 0.3s;
    margin-right: 10px; /* Отступ справа в 10 пикселей между элементами */
    left: 40px;
    -webkit-user-select: none;  /* Для Safari, Chrome */
    -moz-user-select: none;     /* Для Firefox */
    -ms-user-select: none;      /* Для IE и Edge */
    user-select: none;          /* Современные браузеры */
}
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 20px; /* Отступ сверху и снизу */
}

.search-bar {
    width:30%; /* Ширина поля поиска */
    padding: 8px; /* Внутренний отступ */
    font-size: 14px; /* Размер шрифта */
    border: 2px solid #ccc;
    border-radius: 10px 10px 10px 10px; /* Закругление левого края */
    outline: none;
    background-color: #18191c; /* Цвет фона */
    color: white; /* Цвет текста */
}

.search-bar:focus {
    border-color: #FF9800; /* Цвет границы при фокусе */
}

.horizontal-line {
    width: 40%; /* Ширина линии */
    height: 2px; /* Толщина линии */
    background-color: #000; /* Цвет линии */
    position: absolute; /* Позиционирование для центрирования */
    top: 50%; /* Центрирование по вертикали */
    left: 0;
}

.vertical-line {
    width: 2px; /* Толщина линии */
    height: 600px; /* Высота линии */
    background-color: #000; /* Цвет линии */
    position: absolute; /* Позиционирование для центрирования */
    left: 50%; /* Центрирование по горизонтали */
    top: 90px;
}


#content {
    margin-top: 20px;

    text-align: center;
}